* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    color: #4e545b;
    font-size: 12px;
    font-family: $family--default;
    background-image: linear-gradient(180deg, #fafafc 0%, #e5e7f4 100%);
}

.wrapper {
    width: 100%;
    max-width: 904px;
    margin: 0 auto;
}

//Basic change hr
hr{
    border: none;
    height: 1px;
    background-color: #efeff4;
    width: 100%;
}


//Animation for call
@keyframes animate
{
    0%
    {
        transform: scale(1);
        background-color: #ffffff;
        opacity: 0.5;
    }
    50%
    {
        background-color: #ffffff;

    }
    100%
    {
        transform: scale(4);
        background-color: #ffffff;
        opacity: 0;
    }
}

//Scrollbar basic change
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
