$family--default: 'Montserrat', sans-serif;


$color--primary: #66538A;
$color--positive: #4fd161;
$color--negative: #f04265;
$color--text-invert: #ffffff;
$color--text: #000000;

$gutter: 30px;



$font-weight--light: 300;
$font-weight--medium: 500;
$font-weight--bold: 700;

